*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  background: color #202020;
  
}
html{
  font-size: 63.75%;
}

body{
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1 rem;
  line-height: 1.6;
  color: #fff;
}
li{
  list-style: none;
}

a {
  color: #000;
  &:hover {
    color: #2e86c1;
  }
}
button{
  display:flex;
  gap:1.2em;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6em 2.4em;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #2e86c1;
  
  margin-top: 1.6 rem;


}

/* layout */
.container {

  max-width: 110rem;
  margin:auto;
}
.grid{
  display:grid;
}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3,1fr);
}
header {
  height: 10rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #202020;
  width: 100%;
  & .container {
    height:10rem;
  }
}

.navbar-grid {

  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding:0 3.0rem;

}
nav ul{
  display: flex;
  justify-content: flex-end;
  gap: 2.8rem;
  color:#fff;

  & li a{
    color: #fff;
  }
}
.ham-menu {
  display: none;
}

@media screen and (max-width: 998px){
  .menu-web {
    display: none;
  }
}